<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/c435cf0167.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="contact">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>    
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>Contact //</h1>
        <section>
            <h3>We are Here!</h3>
            <iframe src="https://www.google.com.ar/maps/place/Saavedra,+CABA/@-34.5557634,-58.4983359,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb6ef4beadaf5:0xbfab5e835384e1e1!8m2!3d-34.5557798!4d-58.4961514" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
        <section>
            <h3>Contact Info</h3>
            <article>
                <h4>MANAGEMENT | Karen Blanche</h4>
                <p>
                    <b>Email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>Phone: </b><a href="Tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>BOOKING | Daniel Ku</h4>
                <p>
                    <b>Email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>Phone: </b><a href="Tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>LABEL | Wix Records. Jake Coldham</h4>
                <p>
                    <b>Email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>Phone: </b><a href="Tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>
            <article>
                <h4>PR | That Girl Pr. Sarah Brookstone</h4>
                <p>
                    <b>Email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                    <b>Phone: </b><a href="Tel:+123-456-7890">123-456-7890</a>
                </p>
            </article>


        </section>
    </main>
</body>

</html>