<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/c435cf0167.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>    
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <h5>Direct Link</h5>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#organic">Video: Organic Love</a></li>
            <li><a href="#street">Video: Street Light</a></li>
        </ul>
        <section>
            <h2 id="album">Album<br>Twist In my reality</h2>
            <img scr="/images/emilia-play-list.png " alt="imagen play list">
            <ol>
                <li><i class="fas fa play"><a href=""></a></i></li>
                <li><i class="fas fa play"><a href=""></a></i></li>
                <li><i class="fas fa play"><a href=""></a></i></li>
                <li><i class="fas fa play"><a href=""></a></i></li>
            </ol>
        </section>
    </main>
</body>

</html>