<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/c435cf0167.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header class="horizontal" >
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>    
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <section>
            <h5>Direct Link</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </section>
        <section>
            <h2 id="album">Album<br>Twist In my reality</h2>
            <img src="/images/emilia-play-list.png" alt="imagen play list" width="640">
            <ul>
                <li><i class="fas fa-play"> <a href="">Organic Love | 02:40</a></i></li>
                <li><i class="fas fa-play"> <a href="">Twist In My Reality | 02:10</a></i></li>
                <li><i class="fas fa-play"> <a href="">Street Light | 03:28</a></i></li>
                <li><i class="fas fa-play"> <a href="">Love Don´t live Here Anymore (Cover)| 03:49</a></i></li>
            </ul>
            <a href="#">Go Top</a>
        </section>
        <section>
            <h2 id="organic">Video<br>Organic Love</h2>
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"allowfullscreen></iframe>
            <p>Directed by Vince Malc & Emilia Cole</p>
            <p>Edited and Filmed by Nicolas Troy</p>
            <p>Produced by Nicky Heart,</p>
            <p>Wix Film LDT.</p>
            <a href="#">Go Top</a>
        </section>
        <section>
            <h2 id="street">Video<br>Street Light</h2>
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"allowfullscreen></iframe>
            <p>Directed by Vince Malc & Emilia Cole</p>
            <p>Edited and Filmed by Nicolas Troy</p>
            <p>Produced by Nicky Heart,</p>
            <p>Wix Film LDT.</p>
            <a href="#">Go Top</a>
        </section>
    </main>
</body>

</html>